.item-buah {
  background-color: #ff7f50;
  transition: all 200ms ease;
}
.item-buah:hover {
  background-color: #ff7f50a1;
  transition: all 200ms ease;
}
.table {
  width: 100%;
  border: 1px solid black;
}

.table-header {
  background-color: #aaaaaa;
  text-transform: capitalize;
}

.title {
  text-align: center;
}
