.item-buah {
  background-color: #ff7f50;
  transition: all 200ms ease;
}
.item-buah:hover {
  background-color: #ff7f50a1;
  transition: all 200ms ease;
}
.table {
  width: 100%;
  border: 1px solid black;
}

.table-header {
  background-color: #aaaaaa;
  text-transform: capitalize;
}

.title {
  text-align: center;
}

/* body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.container {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 25vw;
  transition: all 300ms ease;
  box-shadow: 0 0px 0px #00000000;
}
.container:hover {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 25vw;
  box-shadow: 0 3px 12px #0000001c;
  transition: all 300ms ease;
}

.title {
  width: 100%;
  text-align: center;
}
.input-nama-pelanggan {
  border-radius: 0;
  border: 1px solid #000000fc;
  transition: all 300ms ease;
}
.input-nama-pelanggan:focus {
  border-radius: 1rem;
  border: 1px solid black;
  outline: none;
  padding: 0 1rem;
  transition: all 300ms ease;
}
.container-list-item {
  width: 100%;
  display: flex;
}

.daftar-item {
  display: inline-flex;
  align-items: flex-end;
}
.checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form {
  display: grid;
  grid-template-columns: [labels] 8rem [controls] 12rem;
  grid-auto-flow: row;
  grid-gap: 2rem;
  margin: 0.5rem 0;
}
.form label {
  font-weight: bold;
}

button {
  border-radius: 1rem;
}

.clickable {
  cursor: pointer;
}
