.nav {
  width: 100%;
  background: black;
  color: white;
  padding: 0.5rem;
  display: flex;
  box-shadow: 0 3px 8px #0000001c;
}

.nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}

.nav ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.nav a {
  cursor: pointer;
}

.nav.dark ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.nav.light ul a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.nav.dark {
  background: black;
}
.nav.light {
  background: white;
}
.nav.dark div {
  color: white;
}
.nav.light div {
  color: black;
}
